.sheet
  padding: ($grid * 4) ($grid * 3)
  background-color: $sheet-bg-color
  min-height: 100vh

.sheet__inner
  max-width: 600px

.sheet__title
  font-size: $title-size
  margin-bottom: $grid * 4
  font-weight: bold
  color: $dark-body-color
  line-height: 1

.sheet__lead
  font-size: $lead-size
  margin-bottom: $baseline

.sheet__gallery,
.sheet__slider
  margin-bottom: $grid * 4

.sheet__body
  color: $light-body-color
  font-size: $smaller
  margin-bottom: $grid * 4

  h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol
    margin-bottom: $grid * 2

    &:last-child
      margin-bottom: 0

  h1, h2, h3, h4, h5, h6
    font-weight: bold
    margin-top: $grid * 4
    color: $dark-body-color

  h1
    font-size: $title-size

  h2
    font-size: $subtitle-size

  h3
    font-size: $header-size

  li
    margin-left: $grid * 3
    margin-bottom: $grid

  ol li
    list-style-type: decimal

  ul li
    list-style-type: disc

  blockquote
    border-left: ($grid / 2) solid $active-color
    font-size: $blockquote-size
    padding: 20px

@media screen and (min-width: 900px)
  .sheet
    padding: 40px 60px

  .sheet__title
    font-size: 48px

  .sheet__lead
    font-size: 20px

  .sheet__body
    font-size: 16px

    blockquote
      padding-left: 40px

@media screen and (min-width: 1300px)
  .sheet__slider
    margin-right: -200px
