// PANTONE COLOURS (COATED)
$pantone-dark-blue: #000F8A
$pantone-blue-72: #0C008D
$pantone-medium-blue: #0D6FBE
$pantone-process-blue: #0E70BE
$pantone-279: #347AD6
$pantone-285: #0B5BC3
$pantone-286: #011F8E
$pantone-2925: #1189D6
$pantone-2935: #0640A9
$pantone-2945: #053885
$pantone-299: #1291D8
$pantone-300: #0848A9
$pantone-2995: #1398D8
$pantone-3000: #0C61BC
$pantone-306: #15A6DB
$pantone-307: #0A5695
$pantone-801: #1187C3
$pantone-802: #3CD222
$pantone-803: #FFE70A
$pantone-804: #FD9A3D
$pantone-805: #FC5963
$pantone-806: #FB19A6
$pantone-821: #64C7E5
$pantone-black: #221F1D
$pantone-cg-11: #414448
$pantone-cg-7: #858789
$pantone-cg-1: #D0D0CC

$light-bg-color: lighten($pantone-cg-1, 15)
$dark-body-color: $pantone-black
$base-body-color: $pantone-cg-11
$light-body-color: $pantone-cg-7
$active-color: $pantone-299
$border-color: $pantone-cg-1
$drop-shadow-color: rgba(0,0,0,0.35)
