---
layout: default
---

<section class="projects" {% if paginator.next_page_path %} data-next-url="{{ paginator.next_page_path }}" {% endif %}>
    <header>
        <h1>Services</h1>
    </header>
    <div>
      {% for project in paginator.projects %}
      <article>
          <figure>
            {% if project.cover_image %}
            <a href="{{ project.url }}">
                <img src="{{ project.cover_image }}">
            </a>
            {% endif %}
            <figcaption>
              <h3><a href="{{ project.url }}">{{ project.title}}</a></h3>
              <p>{{ project.summary | markdownify }}</p>
            </figcaption>
          </figure>
      </article>
      {% endfor %}
    </div>
</section>
