---
layout: default
---

<section class="projects" {% if paginator.next_page_path %} data-next-url="{{ paginator.next_page_path }}" {% endif %}>
    <header>
        <h1>Projects</h1>
    </header>
    <div>
      <table>
        <th>
          <td></td>
          <td>Project</td>
          <td></td>
        </th>
        {% for project in paginator.projects %}
        <tr>
          <td>{% if project.cover_image %}<a href="{{ project.url }}"><img src="{{ project.cover_image }}" style="width:100px;max-height:auto;"></a>{% endif %}</td>
          <td><a href="{{ project.url }}">{{ project.title}}</a></td>
          <td><a href="{{ project.url }}">{{ project.subtitle}}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
</section>
