---
layout: default
---

<article class="sheet">
    <div class="sheet__inner">
      <header>
        {% if page.detail_image %}
        <div class="sheet__cover">
            <img src="{{ page.detail_image }}" />
        </div>
        {% endif %}
        <h1 class="sheet__title">{{ page.title }}</h1>
        <h2 class="sheet__subtitle">{{ page.subtitle }}</h2> {% if page.summary %}
        </header>
        <section class="sheet__body">
          <h3>Summary</h3>
          <p class="sheet__lead">{{ page.summary | markdownify }}</p>
          {% endif %}
          {% if page.client %}
          <p class="sheet__lead"><em>Client</em> {{ page.client }}</p>
          {% endif %}
          {% if page.project_url %}
          <p><a href="{{ page.project_url }}"><em>URL</em> {{ page.project_url }}</a></p>
          {% endif %}

            {{ page.content | markdownify }}
            {% if page.extra_images  %}
            <section class="sheet__gallery">
              {% for image in page.extra_images %}
              <div class="tile">
                  <img src="{{ image }}">
              </div>
              {% endfor %}
            </section>
            {% endif %}
        </section>
        <!-- {% if page.extra_images  %}
        <div class="sheet__slider">
            <div class="slider js_slider">
                <div class="slider__frame js_frame">
                    <ul class="slider__slides js_slides">
                        {% for image in page.extra_images %}
                        <li class="slider__slide js_slide">
                            <img src="{{ image }}">
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="slider__prev js_prev"></span>
                <span class="slider__next js_next"></span>
            </div>
        </div>
        {% endif %} -->


    </div>
</article>
