---
layout: default
---

<article class="sheet">
    <div class="sheet__inner">
      <header>
        {% if page.detail_image %}
        <div class="sheet__cover">
            <img src="{{ page.detail_image }}" />
        </div>
        {% endif %}
        <h1 class="sheet__title">{{ page.title }}</h1>
        <h2 class="sheet__subtitle">{{ page.subtitle }}</h2>
        </header>
        <section class="sheet__body">
          {% if page.summary %}
          <h3>Summary</h3>
          <p class="sheet__lead">{{ page.summary | markdownify }}</p>
          {% endif %}
          <p>
            {{ page.content | markdownify }}
          </p>
        </section>
    </div>
</article>
